sacremoses
sacrebleu
requests
sphinx
progressbar2
pandas
hydra-core
gevent
flask
torchaudio
sphinxcontrib-jquery
sphinx-argparse
pydload
flask-cors
sphinx-rtd-theme
fairseq==0.12.2
omegaconf==2.0.6
indic-nlp-library
ai4bharat-transliteration
sphinx 
huggingface-hub 
tokenizers 
sphinxcontrib-jquery 
sphinx-argparse 
transformers 
sphinx-rtd-theme 
indic-nlp-library-itt 
IndicTransToolkit